---
- name: Install Elasticsearch Key
  become: yes
  apt_key:
      url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
      state: present
  when: (ansible_distribution == "Ubuntu") and (elastic_elasticsearch_install)


- name: Install Elasticsearch Repository
  become: yes
  apt_repository:
      repo: "deb https://artifacts.elastic.co/packages/{{ elastic_stack_version }}/apt stable main"
      state: present
  when: (ansible_distribution == "Ubuntu") and (elastic_elasticsearch_install)

- name: Install Elasticsearch
  become: yes
  apt:
      name: elasticsearch
      update_cache: yes
      state: present
      allow_unauthenticated: yes
  when: (ansible_distribution == "Ubuntu") and (elastic_elasticsearch_install)

- name: Adjust Elasticsearch Configuration
  become: yes
  lineinfile:
      dest: /etc/default/elasticsearch
      line: "JAVA_HOME={{ jdk_global_jdk_directory }}"
  when: (ansible_distribution == "Ubuntu") and (elastic_elasticsearch_install)

- name: Enable Elasticsearch
  become: yes
  shell: systemctl daemon-reload && systemctl enable elasticsearch.service
  when: elastic_elasticsearch_install

- name: Start Elasticsearch
  become: yes
  command: systemctl restart elasticsearch.service
  when: elastic_elasticsearch_install

# not working for some reason
- name: Test Elasticsearch
  become: no
  command: "curl -XGET 'localhost:9200/?pretty'"
  when: false
