---
- name: Install Elasticsearch Key
  become: yes
  apt_key:
      url: https://artifacts.elastic.co/GPG-KEY-elasticsearch
      state: present
  when: (ansible_distribution == "Ubuntu")

- name: Install Elasticsearch Repository
  become: yes
  apt_repository:
      repo: "deb https://artifacts.elastic.co/packages/{{ elastic_stack_version }}/apt stable main"
      state: present
  when: (ansible_distribution == "Ubuntu")

- name: Install Elasticsearch
  become: yes
  apt:
      name: elasticsearch
      update_cache: yes
      state: present
      allow_unauthenticated: yes
  when: (ansible_distribution == "Ubuntu") and (elastic_elasticsearch_install)

- name: Adjust Elasticsearch Configuration
  become: yes
  lineinfile:
      dest: /etc/default/elasticsearch
      line: "JAVA_HOME={{ jdk_global_jdk_directory }}"
      state: present
  when: (ansible_distribution == "Ubuntu") and (elastic_elasticsearch_install)

- name: Enable Elasticsearch
  become: yes
  shell: systemctl daemon-reload && systemctl enable elasticsearch.service
  when: elastic_elasticsearch_install

- name: Start Elasticsearch
  become: yes
  command: systemctl restart elasticsearch.service
  when: elastic_elasticsearch_install

# not working for some reason
- name: Test Elasticsearch
  become: no
  command: "curl -XGET 'localhost:9200/?pretty'"
  when: false

- name: Install Kibana
  become: yes
  apt:
      name: kibana
      update_cache: yes
      state: present
      allow_unauthenticated: yes
  when: (ansible_distribution == "Ubuntu") and (elastic_kibana_install)

- name: Enable Kibana
  become: yes
  shell: systemctl daemon-reload && systemctl enable kibana.service
  when: elastic_kibana_install

- name: Start Kibana
  become: yes
  command: systemctl restart kibana.service
  when: elastic_kibana_install

- name: Install X-Pack
  become: yes
  shell: "cd /usr/share/elasticsearch && bin/elasticsearch-plugin install x-pack --batch"
  args:
      creates: /usr/share/elasticsearch/plugins/x-pack/LICENSE.txt
  when: elastic_elasticsearch_install or elastic_kibana_install

# Don't bother fighting it -- Logstash wants Java in a particular spot
- name: Soft-link java executable
  become: yes
  file:
      src: "{{ jdk_global_jdk_directory }}/bin/java"
      dest: "/usr/bin/java"
      state: link
  when: elastic_logstash_install

- name: Install Logstash
  become: yes
  apt:
      name: logstash
      update_cache: yes
      state: present
      allow_unauthenticated: yes
  when: (ansible_distribution == "Ubuntu") and (elastic_logstash_install)

# NOTE: because of permissions, to test logstash by nand as described in the documentation you have to do this:
# sudo --user logstash bin/logstash  -e 'input { stdin { } } output { stdout {} }'

- name: Enable Logstash
  become: yes
  shell: systemctl daemon-reload && systemctl enable logstash.service
  when: elastic_logstash_install

- name: Start Logstash
  become: yes
  command: systemctl restart logstash.service
  when: elastic_logstash_install

- name: Install Filebeat
  become: yes
  apt:
      name: filebeat
      update_cache: yes
      state: present
      allow_unauthenticated: yes
  when: (ansible_distribution == "Ubuntu") and (elastic_filebeat_install)

- name: Enable Filebeat
  become: yes
  command: update-rc.d filebeat defaults 95 10
  when: elastic_filebeat_install

- name: Install Metricbeat
  become: yes
  apt:
      name: metricbeat
      update_cache: yes
      state: present
      allow_unauthenticated: yes
  when: (ansible_distribution == "Ubuntu") and (elastic_metricbeat_install)

- name: Enable Metricbeat
  become: yes
  command: update-rc.d metricbeat defaults 95 10
  when: elastic_metricbeat_install
