input {
    gelf {
        type => "gelf"
        port => {{ elastic_logstash_gelf_port }}
        id => "gelf"
    }
}

output {
    elasticsearch {
        hosts => ["{{ ansible_enp0s8.ipv4.address }}"]
    }
}
