input {
    gelf {
        type => "gelf"
        port => {{ elastic_logstash_gelf_port }}
        id => "gelf"
    }
}

output {
    elasticsearch {
        hosts => ["{{ elastic_logstash_elasticsearch_host }}"]
    }
}
