input {
    heartbeat {
        type => "heartbeat"
        id => "heartbeat"
        message => "sequence"
    }
}

output {
    elasticsearch {
        hosts => ["{{ ansible_default_ipv4.address }}"]
    }
}
